<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
@*    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-kpxyUW5uLgBOlhLqm8Hga/aWgf7FgZWLhphVqsMgaW0s+G6KF1RZpUb6ygQL3WUE" crossorigin="anonymous">
@*        <link href="~/node_modules/materialize-css/dist/css/materialize.css" rel="stylesheet" />*@
    </head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">My App</a>
        </div>
    </div>
</nav>
<div class="container">
    <div>
        @RenderBody()
    </div>
    <div>
        @DateTime.Now.Year
    </div>
</div>
<footer>
    @RenderSection("footer", required: false)
    @*        @await Component.InvokeAsync("Greeter")*@
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/node_modules/materialize-css/dist/js/materialize.min.js"></script>
</body>
</html>