@using WebApplicationEmpty.Models
@model Restaurant

@{
    ViewBag.Title = "Create";
}


<h1>Create</h1>
<form method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <label aspe-for="Cuisine"></label>
    <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>
    <span asp-validation-for="Cuisine"></span>
    <input type="submit" name="save" value="Save"/>
</form>
